* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* webkit-tap-highlight-color: transparent; */
}
.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}
#logo{
  width:80%
}
.iconwrapper{
  display: grid;
  grid-template-columns: auto auto;
}
.iconwrapper .iconframe{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(12, 99, 180);
  background-color: rgb(155, 197, 236);
  margin: 10px;
  width: 130px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.iconwrapper .iconframe img{
  width: 70px;
}
.iconwrapper .iconframe span{
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.753);
}
.dashboard{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.iconwrapper .iconframeborrower{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(105, 105, 0);
  background-color: rgba(255, 255, 0, 0.568);
  width: 130px;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.iconwrapper .iconframeborrower img{
  width: 70px;
}
.iconwrapper .iconframeborrower span{
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.753);
}

.investmentContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 20px auto;
  text-align: center;
}
.investmentContainer .investments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
  width: 90%;
}
.investmentContainer .investments .InvestmentList{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.089);
  padding: 10px;
}
.detail{
  display: flex;
  justify-content: space-between;
}

.All-loons{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 4px 0;
  
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.089);
  padding: 10px;
}
.All-loons span{
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  
}
.All-loons span p{
  font-size: 1rem;
}
.investmentContainer .investments .summary{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 4px 0;
  font-size: 1.2rem;
  /* background-color: rgba(0, 0, 0, 0.089); */
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 25px;
}

.investmentContainer .investments .summary .row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 5px 0;
  
  
}
.investmentContainer .investments .summary .row h5{
  text-align: left;
  
}
.investmentContainer .investments .summary .row p{
  text-align: right;
  
}
.MuiBox-root.css-lp4wj0 {
  padding: 13
px
;
}
.MuiBox-root.css-lp4wj0 p#modal-modal-description {
  margin-top: 6px;
}
.paid-loans{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
  font-size: 1.2rem;
  background-color: rgb(136, 219, 134);
  padding: 10px;
  border-radius: 10px;
}
.paid-loans .icon{
  color: rgb(6, 56, 4);
  margin-left: 10px;
}
.unpaid-loans{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.226);
  padding: 10px;
  border-radius: 10px;
  color: rgb(114, 113, 113);
}